#spSiteHeader,#spCommandBar {
    display: none !important;
}

.nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.header{
    width: 100%;
     background-image: url("https://www.tata.com/content/dam/tata/images/verticals/desktop/electronics_banner_desktop_1920x1080.jpg");
}

.margin{
  margin-top: 50%;  
}
.fontstyle{
    font-family: Raleway;
font-size: 18px;
font-weight: 500;
line-height: 21.13px;
text-align: left;
color: rgba(18, 150, 114, 1);
}

.sidenavbarheight{
    min-height: 500px;
}