@import "~office-ui-fabric-react/dist/sass/References.scss";

:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}

.dmsWebPart {
  .container {
    width: 100% !important;
    // border-style: dashed;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.textDialog {
  max-width: 100%;
  width: 800px;
  max-height: 100%;
  height: 600px;
  display: none;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.QmsDashboard {
  .filter {
    float: right;
  }

  .list {
    clear: both;
    overflow: auto;
  }
}

.Popup {
  label {
    margin: 5px;
    vertical-align: 10px;
    font-size: 13px;
  }
}

.textDialog {
  max-width: 100%;
  width: 700px;
  max-height: 100%;
  height: 380px;
}

.normalDialog {
  max-width: 100%;
  width: 500px;
  max-height: 100%;
  height: 320px;
}

.newdesigndiv {
  width: 100%;
  margin-left: 12px;
  background: rgba(243, 243, 243, 1);
}

.rectangle {
  // position: absolute;
  width: 100%;
  height: 179px;
  top: 0px;
  // left: 390px;
  gap: 2rem;
  border-radius: 18px 18px 0px 0px;
  // opacity: 0px;
  z-index: 0;
  background: linear-gradient(90deg, #cbede3 0%, #e4edfa 100%);
  display: flex;
}

.template {
  position: relative;
  // width: 380px;
  width: 30%;
  height: 111px;
  top: 120px;
  left: 50px;
  // gap: 0px;
  // border: 1px 0px 0px 0px;
  // opacity: 0px;
  border: 1px solid #18ab83;

  // border-image: linear-gradient(180deg, #000000, #18AB83, rgba(16, 166, 225, 0.85)) 1;
  /* Apply linear gradient as border */

  border-radius: 19px;
  background: white;
  z-index: 1;
  display: flex;
  align-items: center;
  // gap: 14%;
  gap: 10%;
}

.smallcard1 {
  position: relative;
  width: 72px;
  height: 85px;
  // top: 10px;
  left: 10px;
  border-radius: 12px;
  // opacity: 0px;
  background: rgba(18, 150, 114, 0.1);
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  position: relative;
  // width: 380px;
  width: 30%;
  height: 111px;
  top: 120px;
  left: 50px;
  // gap: 0px;
  // border: 1px 0px 0px 0px;
  // opacity: 0px;
  border: 1px solid rgba(16, 166, 225, 0.85);

  // border-image: linear-gradient(180deg, #000000, #18AB83, rgba(16, 166, 225, 0.85)) 1;
  /* Apply linear gradient as border */

  border-radius: 19px;
  background: white;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10%;
}

.smallcard2 {
  position: relative;
  width: 72px;
  height: 85px;
  // top: 10px;
  left: 10px;
  border-radius: 12px;
  // opacity: 0px;
  background: rgba(16, 166, 225, 0.1);
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tablediv {
  width: 95%;
  // margin-left: 52px;
  // margin-top: 28px;
  margin-left: 3%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
}

.uploadfilesdiv {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.uploadstyle {
  font-size: 28px;
  font-weight: 600;
  line-height: 32.87px;
  text-align: left;
}

.uploadbutton {
  width: 100%;
  text-align: left;
}

.SelectOldFilestyle{
font-family: Segoe UI;
font-size: 20px;
font-weight: 600;
line-height: 26.6px;
text-align: left;
}

.ReplaceFileStyle{
font-family: Segoe UI;
font-size: 20px;
font-weight: 600;
line-height: 26.6px;
text-align: left;

}