@import "~office-ui-fabric-react/dist/sass/References.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
  body {
    font-family: "Poppins !important";
  }
}
.dmsWebPart {
  .container {
    max-width: 100% !important;
    // border-style: dashed;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.textDialog {
  max-width: 100%;
  width: 800px;
  max-height: 100%;
  height: 600px;
}
.section {
  font-family: "Poppins !important";
}
.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.QmsDashboard {
  .filter {
    float: right;
  }
  .list {
    clear: both;
    overflow: auto;
  }
}

.Popup {
  label {
    margin: 5px;
    vertical-align: 10px;
    font-size: 13px;
  }
}
.textDialog {
  max-width: 100%;
  width: 700px;
  max-height: 100%;
  height: 380px;
}
.normalDialog {
  max-width: 100%;
  width: 500px;
  max-height: 100%;
  height: 320px;
}
